

.sheet-count__controls-group {
  display: flex;
  align-items: center;
}

.sheet-count__btn {
  max-width: 5em;
}

.sheet-count__input {
  border-radius: 0;
  border-right: 0;
  border-left: 0;
  text-align: center;
}

.sheet-count__btn_minus {
  border-radius: $border-radius 0 0 $border-radius;
}

.sheet-count__btn_plus {
  border-radius: 0 $border-radius $border-radius 0;
}