.sudoku {
  max-width: 100%;
  max-height: 100%;
  display: block;
  color: $black;
}

.sudoku__content {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  page-break-inside: avoid;

  max-width: 100%;
  max-height: 100%;

  font-weight: bold;

  border-top: 0.5px solid $black;
  border-right: 0.5px solid $black;
  border-left: 0.5px solid $black;

  margin-left: auto;
  margin-right: auto;
}

.sudoku__col {
  padding-bottom: 100%;

  border-right: 0.5px solid $black;
  border-bottom: 0.5px solid $black;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.sudoku__col:nth-of-type(3n) {
  border-right: 2px solid $black;
}

.sudoku__col:nth-of-type(9n) {
  border-right: none;
}


.sudoku__col:nth-of-type(19),
.sudoku__col:nth-of-type(20),
.sudoku__col:nth-of-type(21),
.sudoku__col:nth-of-type(22),
.sudoku__col:nth-of-type(23),
.sudoku__col:nth-of-type(24),
.sudoku__col:nth-of-type(25),
.sudoku__col:nth-of-type(26),
.sudoku__col:nth-of-type(27),
.sudoku__col:nth-of-type(46),
.sudoku__col:nth-of-type(47),
.sudoku__col:nth-of-type(48),
.sudoku__col:nth-of-type(49),
.sudoku__col:nth-of-type(50),
.sudoku__col:nth-of-type(51),
.sudoku__col:nth-of-type(52),
.sudoku__col:nth-of-type(53),
.sudoku__col:nth-of-type(54) {
  border-bottom: 2px solid $black;
}

.sudoku__number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 100%;
  white-space: nowrap;
}