.sudoku-count__list {
  margin: 0;
  display: flex;

  border: 1px solid $color-main;
  border-radius: $border-radius;
}

.sudoku-count__item {
  width: 100%;

  &:last-of-type {
    .sudoku-count__btn {
      border-right: none;
    }
  }
}

.sudoku-count__btn {
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-radius: 0;
}