.sudoku-count {}

.sudoku-count__list {
  margin: 0;
  display: flex;

  border: 1px solid $color-main;
  border-radius: $border-radius;
}

.sudoku-count__item {
  width: 100%;

  &:last-of-type {
    .sudoku-count__btn {
      border-right: none;
    }
  }
}

.sudoku-count__btn {
  border-right: 1px solid $color-main;
  padding: 0.5em 0.8em;
  font-size: 1em;
  line-height: 1em;

  width: 100%;
  height: $control-height - 0.1em;

  transition: background-color $ease;

  &:hover,
  &:focus {
    background-color: rgba($color-light-faded, 0.1);
  }

  &.active {
    background-color: rgba($color-light-faded, 0.3);
  }
}