

/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: $control-height;
  line-height: 3;
  overflow: hidden;
}

.select__content {
  flex: 1;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;

  cursor: pointer;
  color: $color-main;

  pointer-events: none;

  transition: .25s all ease;
}

/* Transition */
.select:hover::after {
  color: $color-light-faded;
}