body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $white;
}

.root {
  position: relative;

  min-height: 100vh;
  width: 100%;
  max-width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}


* {
  outline: none;
  box-sizing: border-box;

  &::before,
  *::after {
    outline: none;
    box-sizing: border-box;
  }
}

input {
  border: none;
  border: 1px solid $color-main;

  border-radius: $border-radius;
  box-shadow: none;

  height: $control-height;
  width: 100%;
  max-width: 100%;
  padding: 0 1em;

  color: inherit;
  background-color: $hover-bg;

  transition: background-color $ease;

  &:active {
    background-color: $active-bg;
  }

  @media screen and (min-width: $lg) {
    &:hover {
      background-color: $active-bg;
    }
  }
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}


select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border-color: $color-main;
  border-radius: $border-radius;

  color: inherit;
  background-color: $hover-bg;

  padding: 0 1em;
  cursor: pointer;
  transition: background-color $ease;

  &::-ms-expand {
    display: none;
  }

  &:active {
    background-color: $active-bg;
  }

  @media screen and (min-width: $lg) {
    &:hover {
      background-color: $active-bg;
    }
  }
}


option {
  color: $black;
  background-color: $white;
}

h1 {
  text-align: center;
  opacity: 0.2;
  margin-top: 0;
  margin-bottom: 1.5em;
}


ul,
ol {
  padding-left: 0;

  li {
    list-style-type: none;
  }
}



button {
  display: block;
  color: inherit;
  background: none;
  box-shadow: none;
  cursor: pointer;

  border: 1px solid $color-main;
  border-radius: $border-radius;

  width: 100%;
  height: 3em;

  padding-right: 1em;
  padding-left: 1em;

  transition: background-color $ease, opacity $ease;


  &:disabled {
    opacity: 0.9;
  }

  &.loading {
    cursor: wait;
  }
}


.btn-primary {
  background-color: $color-light;

  &:active {
    background-color: transparent;
  }

  @media screen and (min-width: $lg) {
    &:hover {
      background-color: transparent;
    }
  }
}

.btn-secondary {
  &:active {
    background-color: $active-bg;
  }

  @media screen and (min-width: $lg) {
    &:hover {
      background-color: $active-bg;
    }
  }

  &:disabled {
    background-color: transparent;
  }

  &.active {
    background-color: $hover-bg;
  }

}


.fluid-name {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1em;
}