body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}


* {
  outline: $color-main;
  box-sizing: border-box;

  &::before,
  *::after {
    outline: $color-main;
    box-sizing: border-box;
  }
}

h1 {
  text-align: center;
  opacity: 0.3;
}


ul,
ol {
  padding-left: 0;

  li {
    list-style-type: none;
  }
}


.container {
  width: 100%;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $lg) {
    width: 500px;

  }
}


button {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  color: inherit;
  text-transform: uppercase;
}

.btn {
  padding: 1em 1.5em;
  border-radius: $border-radius;

  border: 1px solid $color-light;

  transition: background-color $ease;
  margin-top: 1.5em;
  width: 100%;
  display: block;

}

.btn-primary {
  background-color: $color-light;

  &:hover,
  &:active {
    background-color: $bg;
  }
}

.btn-secondary {
  background-color: $bg;

  &:hover,
  &:active {
    background-color: $color-light;
  }
}


.fluid-name {
  display: block;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1em;
}