/* Настройки печати */
@media print {

  .root {
    display: block !important;
  }

  .no-print {
    display: none !important;
  }

  .preview-wp {
    overflow: visible !important;
    border: none !important;
    display: block !important;
    width: 100vw !important;
    max-width: 100vw !important;
    margin: 0 !important;
  }

  .preview-content {
    overflow: visible !important;
    border: 0 none !important;
  }

  .preview {
    display: grid !important;

    width: 21cm !important;
    height: 29.7cm !important;

    max-width: 21cm !important;
    max-height: 29.7cm !important;

  }
}

@page {
  size: A4 !important;
}