/* Настройки печати */
@media print {

  .root {
    display: block !important;
  }

  .no-print {
    display: none !important;
  }

  .preview-wp {
    display: block !important;
  }

  .preview {
    display: grid !important;

    width: 21cm !important;
    height: 29.7cm !important;

    max-width: 21cm !important;
    max-height: 29.7cm !important;

  }
}

@page {
  size: A4 !important;
}