$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;



$white: #fff;
$black: #000;

$color-main: #009E8E;
$color-dark-faded: #1E776D;
$color-light: #34CFBE;
$color-light-faded: #5DCFC3;

$bg: #4e54c8;

$border-radius: .3em;
$control-height: 3em;

$ease: .3s ease-in-out;


$hover-bg: rgba($color-light-faded, 0.2);
$active-bg: rgba($color-light-faded, 0.3);