.settings-panel-wp {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}

.settings-panel {
  width: 1000px;
  max-width: 90vw;
  margin: 0 auto;

  padding: 26px 16px;

  @media screen and (min-width: $sm) {
    padding: 50px 30px;
  }

  @media screen and (min-width: $md) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em 1em;
  }

  color: $white;

}



// ***********************
// ***********************
// ***********************
// ***********************
// ***********************
