.settings-panel-wp {
  overflow: hidden;
  position: relative;

  min-height: 100vh;
  min-width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-panel {
  padding: 50px 16px;
  color: $white;


  @media screen and (min-width: $md) {
    display: flex;
    flex-direction: column;
  }
}


.settings-panel__create {
  grid-column: 2/3;
}