// @include grid-columns(0);
@mixin grid-columns($count) {
  --columns: #{$count};
}

// @include grid-columns-fr(0);
@mixin grid-columns-fr($count) {
  --columns-fr: #{$count}fr;
}

// @include grid-rows(0);
@mixin grid-rows($count) {
  --rows: #{$count};
}

// @include grid-rows-fr(0);
@mixin grid-rows-fr($count) {
  --rows-fr: #{$count}fr;
}

// @include grid-gap(0, 0);
@mixin grid-gap($y, $x) {
  --gap: #{$y}vh #{$x}vw;
}

// @include make-grid();
@mixin make-grid() {
  --columns: 3;
  --rows: 3;
  --columns-fr: 1fr;
  --rows-fr: 1fr;
  --gap: 4vh 4vw;

  display: grid;
  grid-template-columns: repeat(var(--columns), var(--columns-fr));
  grid-template-rows: repeat(var(--rows), var(--rows-fr));
  grid-gap: var(--gap);
}